nav{
    display: flex;
    justify-content: space-between;
    padding:  0.5em;
    align-items: center;
    position: sticky;
    top: 0%;
    right: 0%;
    left: 0%;
    z-index: 10;
    background: #321853;
}
#logo{
    color: #bf9553;
    text-transform: uppercase;
    font-size: 3em;
}
#logo span {
    display: inline-block;
    font-size: 0.8em;
    animation: globe 5s ease-in-out  infinite alternate;
}
@keyframes globe {
    from{
        transform: rotatey(0deg);
    }
    to{
        transform: rotatey(360deg);
    }
}
.searchbar{
    position: relative;
    margin-right: 2em;
    display: flex;
    align-items: center;
}
.searchbar input{
    background-color: transparent;
    border:3px solid #b97f24;
    color:#bf9553;
    outline: none;
    font-size: 1.5em;
    border-radius: 1em;
}
.searchbar span{
    display: inline-block;
    position: absolute;
    color:#bf9553;
    right: 5%;
    font-size: 1.3em;
    cursor: pointer;
}